@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,150..1000;1,6..12,150..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.heading {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(
    to right,
    #00f260,
    #0575e6
  ); /* from-purple-400 to-pink-500 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

body {
  overflow-x: hidden;
  background: #000;
  color: white;
  font-family: "Hibbo", sans-serif;
}

/* Styling for navbar  */

.navList {
  display: none;
}

nav {
  background-color: #060c0d;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 23px;
  font-size: 1.3rem;
}

.menuToggle {
  font-size: 30px white;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  border-bottom: 2px solid white;
  transition: all 0.05s ease-in;
}

nav .logo {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.05s ease-in;
  background: linear-gradient(
    to right,
    #00f260,
    #0575e6
  ); /* from-purple-400 to-pink-500 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

nav .logo:hover {
  border-bottom: 2px solid white;
}
/* **************************************************************************************** */
/* ********************************* Hero section ****************************************** */
/* ***************************************************************************************** */

.heroSection {
  height: 100vh;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  width: 60%;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.leftSection p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 300;
}

.typing-effect,
.typing {
  font-size: 2rem;
  background: linear-gradient(
    to right,
    #00f260,
    #0575e6
  ); /* from-purple-400 to-pink-500 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btnContainer {
  display: inline-block;
  height: 70px;
  margin: 10px 0px;
}
.leftSection .btn {
  font-size: 1rem;
  height: 50px;
  background: linear-gradient(to right, #00f260, #0575e6);
  font-weight: 600; /* font-semibold */
  padding: 0.5rem 1.5rem; /* py-2 px-6 */
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
  transition: opacity 0.2s ease;
  border: none;
  margin: 5px 10px;
  transition: background-color 0.5s ease-in-out;
}

.leftSection .btn:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  opacity: 0.9;
  cursor: pointer;
}

.rightSection {
  width: 35%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.rightSection img {
  border-radius: 50%;
  border: 10px solid #01e66d;
}

/* **************************************************************************************** */
/* ********************************* About Section ****************************************** */
/* ***************************************************************************************** */

.aboutSection div {
  height: 220px;
  width: 90%;
  margin: 25px auto;
  padding: 15px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.aboutSection div p {
  font-size: 1rem;
  color: rgb(180, 178, 178);
  line-height: 28px;
}

/* **************************************************************************************** */
/* ********************************* project section ****************************************** */
/* ***************************************************************************************** */
.projectsSection {
  margin: 10rem auto;
}

.projectsSection .container {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  color: #f3f3f3;
}

.projectsSection .card {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid white;
}

.projectsSection .card:hover {
  box-shadow: 0px 0px 20px #80d8c3;
}

.projectsSection .card img {
  height: 250px;
  width: 100%;
}

.card .description {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 10px;
}

.card .description h2 {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: bold;
}

.card .description p {
  font-size: 14px;
}

.tags {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  background-color: rgb(40, 40, 40);
  padding: 4px 10px;
  margin: 2px;
  border-radius: 2px;
}

.card button,
.skill button {
  padding: 8px 0;
  min-height: 40px;
  border-radius: 8px;
  border: none;
  background-color: rgba(10, 10, 10, 1);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 1s;
}

.card button:hover {
  background-color: #19181b;
}

/* **************************************************************************************** */
/* ********************************* Skill section ****************************************** */
/* ***************************************************************************************** */

.skillSection {
  margin: 10rem auto;
}

.skillSection .container {
  /* width: 100%; */
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  place-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: 200px;
  padding: 15px 10px;
  border: 1px solid white;
  border-radius: 10px;
  gap: 25px;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.skill:hover {
  box-shadow: 0px 0px 20px #50dfbe;
}

.skill div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill p {
  color: gray;
  font-weight: 700;
}

.skill button {
  padding: 8px 0;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: rgba(10, 10, 10, 1);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 1s;
}

.skill button:hover {
  background-color: #19181b;
}

/* **************************************************************************************** */
/* ********************************* Contact Section ****************************************** */
/* ***************************************************************************************** */

.contactSection {
  margin: 10rem auto;
  background-color: #060c0d;
  padding: 20px;
  border-radius: 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 40px;
}

input {
  width: 90%;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid white;
  background: transparent;
  margin-bottom: 30px;
  color:white
}

textarea:hover,
input:hover {
  box-shadow: 0px 0px 20px #80d8c3;
  cursor: default;
}

textarea {
  background: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 15px;
  width: 90%;
  border-image: 20px;
  color:white
}

.contactSection .btn {
  background: transparent;
  border: 2px solid white;
  padding: 10px;
  border-radius: 15px;
  width: 97%;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.contactSection .btn:hover {
  box-shadow: 0px 0px 20px #80d8c3;
}

/* **************************************************************************************** */
/* ********************************* Footer Section ****************************************** */
/* ***************************************************************************************** */

footer {
  background-color: #060c0d;
}

.footerContainer {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footerList {
  display: flex;
  gap: 30px;
}
.footerList li {
  list-style-type: none;
}

.footerList li a {
  transition: border-bottom 0.05s ease-in-out;
}

.footerList li a:hover {
  border-bottom: 2px solid white;
}

.socialIcons {
  display: flex;
  gap: 30px;
  font-size: 1.3rem;
}

.socialIcons .icon {
  background-color: #2c2b2b;
  padding: 10px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.socialIcons .icon:hover {
  box-shadow: 0px 0px 30px #80d8c3;
}

footer p {
  text-align: center;
  font-size: 1.1rem;
  color: rgb(180, 178, 178);
}
