/* This file for responsiveness of website  */

/* When maximum width is 1024px  */
@media screen and (max-width: 1128px) {
  .wrapper {
    /* max-width: 1020px;
         */
    width: 97%;
    margin: 10rem auto;
  }

  .heroSection {
    width: 95%;
    height: 80vh;
    justify-content: center;
  }

  .heroSection > div {
    width: 45%;
  }

  .projectsSection .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 8px;
  }
  .projectsSection .card {
    width: 90%;
  }

  .projectsSection .card img {
    width: 100%;
  }

  .aboutSection div {
    height: auto;
    width: 95%;
  }
}

/* When minimum width is 801px and maximum width is 950px  */

@media screen and (min-width: 801px) and (max-width: 950px) {
  .wrapper {
    max-width: 850px;
    margin: 10rem auto;
  }

  .heroSection {
    justify-content: center;
    /* width: 90%; */
    /* margin: auto; */
  }

  .heroSection > div {
    width: 55%;
  }
}

/* When minimum width is 769px and maximum width is 800px  */

@media screen and (min-width: 769px) and (max-width: 800px) {
  .wrapper {
    max-width: 730px;
    margin: 10rem auto;
  }

  .heroSection > div {
    width: 60%;
  }
}

/* When maximum width is 768px  */

@media screen and (max-width: 768px) {
  .wrapper {
    margin: 10rem auto;
  }
  nav ul {
    display: none;
  }

  .menuToggle {
    display: flex;
  }

  .navList {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
  }

  .navList li {
    list-style-type: none;
    font-weight: bold;
  }

  .heroSection {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: auto;
    padding: 23px 0;
  }

  .heroSection > div {
    width: 60%;
  }

  .aboutSection div {
    width: 90%;
  }

  .aboutSection div p {
    line-height: 40px;
  }

  .projectsSection .container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 90%;
    margin: 0 auto;
  }

  .projectsSection .card {
    width: 90%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .heroSection {
    gap: 80px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 23px 0;
  }

  .leftSection {
    text-align: center;
  }

  .heroSection > div {
    width: 95%;
  }

  .projectsSection .container {
    grid-template-columns: 1fr;
  }

  .skillSection .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutSection div {
    width: 83%;
  }
}
