/* This file for responsiveness of website  */

/* When maximum width is 1024px  */
@media screen and (max-width: 1128px) {
  .wrapper {
    width: 90%;
    margin: 10rem auto;
  }

  .heroSection {
    width: 90%;
    gap: 50px;
    height: 70vh;
    justify-content: center;
  }

  .heroSection > div {
    width: 45%;
  }

  .projectsSection .container {
    grid-template-columns: 1fr 1fr 1fr;
    /* padding: 0 8px; */
  }
   /* project Section */
  .projectsSection .card {
    width: 85%;
  }

  .projectsSection .card img {
    width: 100%;
  }
/* About Section  */
  .aboutSection div {
    height: auto;
    width: 90%;
  }

  /* Skill Section  */

  .skill {
    width: 280px;

  }
}

/* When minimum width is 801px and maximum width is 950px  */

@media screen and (min-width: 801px) and (max-width: 950px) {
  .wrapper {
    
    margin: 10rem auto;
  }

  .heroSection {
    justify-content: center;
    
  }

  .heroSection > div {
    width: 55%;
  }

  .projectsSection .card {
   width: 200px;
  }

   .skillSection .container  {
    grid-template-columns: repeat(3,1fr);
  }
  .skill {
   width: 210px;
   height: auto;
  }
}

/* When minimum width is 769px and maximum width is 800px  */

@media screen and (min-width: 769px) and (max-width: 800px) {
  .wrapper {
    width: 90%;
    margin: 10rem auto;
  }

  .heroSection > div {
    width: 60%;
  }

  .projectsSection .contactSection {
    width: 90%;
  }
  
  .projectsSection .card  {
    width:200px
  }

  .skillSection .container  {
    grid-template-columns: repeat(3,1fr);
  }
  .skill {
   width: 200px;
   height: auto;
  }
}

/* When maximum width is 768px  */

@media screen and (max-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 10rem auto;
  }

  /* Navbar styling  */

  nav ul {
    display: none;
  }

  .menuToggle {
    display: flex;
  }

  .navList {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
  }

  .navList li {
    list-style-type: none;
    font-weight: bold;
  }

  /* HeroSection  */

  .heroSection {
    flex-direction: row;
   justify-content: space-between;
    gap:20px;
    height: auto;
    padding: 23px 0;
    height: 60vh;
  }

  .leftSection .btn {
  margin: 5px 5px;

  }
  .leftSection {
    width: 55%;
  }

  .rightSection {
    width: 35%;
  }

  .rightSection img {
    width: 300px;
    height: 300px;
  }

  /* About section  */

  .aboutSection div {
    width: 90%;
  }

  .aboutSection div p {
    line-height: 40px;
    text-align: center;
  }

  /* Project Section  */

  .projectsSection .container {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .projectsSection .card {
    /* width: 90%; */
    margin-top: 50px;
    justify-content: space-between;
  }

  /* Skills Section  */

  .skillSection .container  {
    grid-template-columns: repeat(2,1fr);
    gap:15px
   
  }
  .skill {
    width: 90%;
    
  }
}

/* When screen is in range between 320 to 640px */

@media screen and (min-width: 320px) and (max-width: 640px) {

  .wrapper {
    margin: 7rem auto;
    
  }
  .heroSection {
    gap: 100px;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 23px 0;
    
  }

  .leftSection {
    text-align: center;
  }

  .heroSection > div {
    width: 90%;
  }

  .heroSection .rightSection img {
    width: 200px ;
    height: 200px;
  }

  /* Project Section  */

  .projectsSection .container {
    grid-template-columns: 1fr;
    width: 90%;
 
  }

  .projectsSection .card {
    width: 90%;
    height: auto;
  
  }
  .projectsSection .card .description  {
    height: auto;
  }

  /* Skill section  */

  .skillSection .container {
    grid-template-columns: repeat(1, 1fr);
    gap:20px
  }

  .skill {
    width: 90%;
    height: auto;
    gap: 10px
  }

  .skill button {
    padding: 10px 40px ;
  }

  .aboutSection div {
    width: 90%;
  }

  .form {
    grid-template-columns: repeat(1,1fr);
  }

   .contactSection .btn{
   margin-top: 20px;
  }
}
